extends layout

block content
    h1= title
  
    - var movieresult = results
    div.container-fluid
        div.row
            each item,index in movieresult
                div.col-sm-2(onclick=`buy(${index})`) Movie Name: #{item["movie_Name"]}  <br>  Movie Genre: #{item["movie_Genre"]} <br> Rating: #{item["Rating"]} 
    script.
      function buy(i)
      {
      alert("you purchased item "+(i+1))
      }