extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  - let movieid = toShow._id
  - let movie_Name = toShow.movie_Name
  - let movie_Genre = toShow.movie_Genre
  - let Rating = toShow.Rating
  - let actionid = "/resource/movie/" + movieid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='movieAttr mr-3') Movie ID is:
    div #{movieid}
   div.row
    div(class='movieAttr mr-3') Movie Name is:
    div #{movie_Name}
   div.row
    div(class='movieAttr mr-3') Movie Genre is:
    div #{movie_Genre}
   div.row
    div(class='movieAttr mr-3') Rating is:
    div #{Rating}
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
  // Go back to the home page for the Cereal collection
  window.location.href='/movie'
  }
 script.
  function deleteOnid() {
  console.log("starting delete")
  // delete first
  fetch(actionid, {
  method: 'DELETE' // Don't need a body for the delete
  }).then((resp) => {
  return resp.json(); // or resp.text() or whatever the server sends
  }).then((body) => {
  alert("Delete succeded")
  window.location.href='/movie'
  // TODO handle body
  }).catch((error) => {
  // TODO handle error
  alert("Delete failed " + error )
  });
  }