extends layout

block content
    h1= title
  
    - var movieresult = results
    - let createPage = `dispatch(\"/movie/create")`
    div(class="col-sm")
        button.btn( class="btn-success ml-1", onclick= createPage) Create New movie
    div.container-fluid
        div(class="row m-1")
            each item in movieresult
                - let destination = `dispatch(\"/movie/update?id=${item._id}\")`
                - let detail = `dispatch(\"/movie/detail?id=${item._id}\")`
                - let deleteItem = `dispatch(\"/movie/delete?id=${item._id}\")`
                div(class="row-sm-2", class="m-1") Movie Name: #{item["movie_Name"]}  <br>  Movie Genre: #{item["movie_Genre"]} <br> Rating: #{item["Rating"]} <br>
                 button.btn( class="btn-secondary ml-1", onclick= destination) Update 
                 button.btn( class="btn-warning ml-2 m-2", onclick= detail) View Detail
                 button.btn( class="btn-danger ml-2 m-2", onclick= deleteItem) Delete Item
    script.
      function dispatch(path)
      {
      window.location.href=path
      }