extends layout

block content
    h1= title
  
    - var movieresult = results
    div.container-fluid
        div(class="row m-1")
            each item in movieresult
                - let destination = `dispatch(\"/movie/update?id=${item._id}\")`
                div(class="row-sm-2", class="m-1") Movie Name: #{item["movie_Name"]}  <br>  Movie Genre: #{item["movie_Genre"]} <br> Rating: #{item["Rating"]} <br>
                 button.btn( class="btn-primary ml-1", onclick= destination) Update 
    script.
      function dispatch(path)
      {
      window.location.href=path
      }